.button {
  @apply px-4 py-2 inline-flex items-center justify-center;
  @apply rounded-2xl text-base font-semibold transition-all duration-100;
  @apply focus:ring-[3px] focus:ring-offset-2 focus:ring-offset-gray-700 focus:ring-opacity-50;

  /* Sizing Controls */
  &.small {
    @apply px-4 py-0 h-8 font-normal text-sm focus:ring-2;
  }

  &.large {
    @apply px-5 py-3;
  }

  &.secondary {
    @apply text-gray-50 bg-transparent;

    &:disabled {
      background: transparent !important;
    }
  }

  &:disabled {
    @apply cursor-not-allowed;
  }

  &.square {
    @apply p-0 w-12 h-12;

    &.small {
      @apply w-8 h-8;
    }
  }
}

.primary {
  @apply bg-elysium-green text-gray-50;

  &:hover,
  &:active,
  &:focus {
    @apply bg-elysium-green;
    @apply focus:ring-elysium-green;
    opacity: 0.8;
  }

  &:disabled {
    @apply bg-elysium-green;
    @apply text-gray-50;
    opacity: 0.6;
  }

  &.secondary:hover,
  &.secondary:active {
    @apply bg-elysium-green;
    opacity: 0.6;
  }
}

.text {
  @apply bg-elysium-yellow text-gray-50;

  &:hover,
  &:active,
  &:focus {
    @apply bg-elysium-yellow;
    @apply focus:ring-elysium-yellow;
    opacity: 0.8;
  }

  &:disabled {
    @apply bg-elysium-yellow;
    @apply text-gray-50;
    opacity: 0.6;
  }

  &.secondary:hover,
  &.secondary:active {
    @apply bg-elysium-yellow;
    opacity: 0.6;
  }
}

.danger {
  @apply bg-elysium-red text-gray-50;

  &:hover,
  &:active,
  &:focus {
    @apply bg-elysium-red;
    @apply focus:ring-elysium-red;
    opacity: 0.8;
  }

  &:disabled {
    @apply bg-elysium-red;
    @apply text-gray-50;
    opacity: 0.6;
  }

  &.secondary:hover,
  &.secondary:active {
    @apply bg-elysium-red;
    opacity: 0.6;
  }
}
